html, body {
  font-family:      Lucida, monospace;
  font-size:        15px;
  line-height:      2;
  background-image: url("image2.gif"), linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

#content {
  display: inline-block;
  width: 55%;
}

.major-section {
  margin: 20px;
  padding: 10px;
  border: outset 8px red;
  border-radius: 5px;
  background-color: rgba(255, 216, 193, 0.5);
  border-radius: 10px;
}

.minor-section {
  padding: 1px 30px;
  margin: 15px;
  background-color: #f7f4f0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

h1, h2, h3 {
  color: red;
  border-style: dotted dashed solid double green;
  border-radius: 10px;
  text-shadow: 10px 10px 10px green;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: outset 8px green;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  transition: width 2s, height 2s, transform 2s;
}

 img:hover {
    transform: rotate(360deg);
}

p {
  color: blue;
  border: solid 2px black;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.5;
  text-indent: 50px;
  font-family: 'Train One', cursive;
  text-shadow: 10px 10px 10px orange;
}

.heading {
  text-transform: uppercase;
  font-family: 'Train One', cursive;
}

span {
  text-decoration: underline;
}

aside#sidebar {
  position: absolute;
  display: inline-block;
  width: 30%;
  min-width: 300px;
  float: right;
  border: outset 8px purple;
}

nav {
  position: relative;
  top: 0;
  padding: 1px 30px;
  margin: 15px;
  background-color: #f7f4f0;
  border-radius: 10px;
  border: double 8px #ffc09a;
}

div#column {
  columns: 3;
}

#header {
  height: 150px;
  width: 320px;
  position: relative;
  animation: mymove 1s infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 380px;}
}
