.major-section {
  border: double 8px black;
  border-radius: 10px;
}

.minor-section {
  border: double 8px black;
  border-radius: 10px;
}

header {
  display: grid;
  text-align: center;
  width: 100%;
}

nav {
  display: grid;
  width: 100%;
}

main {
  display: grid;
  width: 67%;
}

aside {
  display: grid;
  width: 30%;
}

footer {
  display: grid;
  width: 100%;
}
