html, body {
  font-size:        50px;
  color:            white;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

@font-family {
  font-family: 538lyonsv2 ;
  src: url(538lyonsv2.ttf);
}
