html, body {
  font-family:      Lucida, monospace;
  font-size:        15px;
  line-height:      2;
  color:            #000000;
  background-image: url("banner.jpg");
  background-size: cover;
}

#content {
  display: inline-block;
  width: 55%;
}

.major-section {
  margin: 20px;
  padding: 10px;
  border: double 8px #f1c7be;
  border-radius: 5px;
  background-color: rgba(204, 183, 178, 0.5);
  border-radius: 10px;
}

.minor-section {
  padding: 1px 30px;
  margin: 15px;
  background-color: #b68479;
  border-radius: 10px;
}

h1, h2, h3 {
  color: #f1c7be;
  border-bottom: 6px dotted black;
  border-radius: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px double black;
  border-radius: 10px;
}

img:hover {
    transform: scale(1.5);
}


p#challenge, #result {
  color: #e9d0d6;
}

p#problems, #random-facts {
  color: #e5e6e8;
}

p#random-facts {
  font-size: 20px;
}

p {
  border: solid 2px black;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.5;
  text-indent: 50px;
}

.heading {
  text-transform: uppercase;
  font-family: 'Cormorant+Garamond';
}

span {
  text-decoration: underline;
}

aside#sidebar {
  position: relative;
  display: inline-block;
  width: 30%;
  min-width: 300px;
  float: right;
  border: double 8px #f1c7be;
}

nav {
  position: sticky;
  top: 0;
  padding: 1px 30px;
  margin: 15px;
  background-color: #b68479;
  border-radius: 10px;
  border: double 8px #f1c7be;
}
